* {
  margin: 0;
  padding: 0;
}

.auth {
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 420px;
  height: 300px;
}
.text {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
